# IntelliJ IDEA
.idea/
*.iml
out/

# VSCode
.vscode/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Maven
target/
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Configurações locais
application-local.properties
.env
